<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>
    <title><%= title %></title>
  </head>

  <body>
    <h1>TODO <%= pageId %></h1>

    <h2>PageTitle : <%= page.title %></h2>

    <br>
    <br>
    <br>

    <div>
      <% page.members.forEach(function(v, i) { %>
        <%= v.name %> <br/>
        <%= v.position %> <br/>
        <%= v.desc %> <br/>
        <% if(v.image) { %>
          <img style="width:128px;height:128px;" src="data:image;base64,<%= v.image.toString('base64')%>"/>
        <% } %>
        <br>
        <br>
        <br>
      <% });%>
    </div>

    <%= page %>

    <!--<div id="app"></div>-->
    <footer>
      <!-- dev mode -->
      <script src="http://localhost:6768/webpack-dev-server.js"></script>
      <script src="http://localhost:6768/assets/vendor.js"></script>
      <script src="http://localhost:6768/assets/index.bundle.js"></script>
    </footer>
  </body>
</html>
